.seperator {
    border-top: 2px solid #efefef;
}

.footer_container {
    padding: 133.333px 133.333px 0px 133.333px;
    width: 1333.360px;
    height: 698.487px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row_footer {
    width: 100%;
    display: flex;
    align-items: top;
    /* justify-content: space-around; */
}

.row_footer:nth-child(1) {
    position: relative;
    height: 52.989px;
    padding-bottom: 66.667px;
}

.row_footer:nth-child(1) > div > img {
    width: 188px;
    height: 45px;
}

.row_footer:nth-child(2) {
    height: 218.656px;
}

.row_footer:nth-child(2) div:nth-child(1) {
    width: 390px;
    height: 139.989px;
    padding-bottom: 66.667px;
}

.row_footer:nth-child(2) div:nth-child(2) {
    width: 390px;
    height: 119.989px;
    padding-bottom: 66.667px;
}

.row_footer:nth-child(2) div:last-child {
    position: relative;
    right: -20px;
    top: -2px;
}

.row_footer:nth-child(2) input:first-of-type {
    width: 383.328px;
    height: 26px;
    padding: 8px 15px 8px 15px;
    border: 0px;
    background-color: #eee;
    font-size: 1.25rem;
    margin-top: 20px;
    color: grey;
    font-family: 'futura-pt', "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    position: relative;
}


.row_footer:nth-child(2) input:last-of-type {
    width: 120px;
    height: 42px;
    border: 0px;
    margin-top: 20px;
    background-color: blue;
    color: #fff;
    font-family: 'futura-pt', "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.row_footer:nth-child(n + 2):nth-child(-n + 3) h3 {
    margin-bottom: 5px;
    font-size: 1.10rem;
    font-family: 'futura-pt', "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.row_footer:nth-child(n + 2):nth-child(-n + 3) h3:not(h3:first-child)::after {
    content: '\00a0›';
}

.row_footer:nth-child(n + 2):nth-child(-n + 3)  h3:first-child {
    font-weight: bold;
    font-family: 'futura-pt', "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row_footer:nth-child(2) > div:first-child h3:first-child {
    font-weight: normal;
}

.row_footer:nth-child(2) > div:first-child h3:first-child::after {
    content: '\00a0›';
}

.row_footer:nth-child(3) div:first-child {
    width: 390px;
    padding-bottom: 66.667px;
    padding-right: 10px;
    height: 119.989px;
}

.row_footer:nth-child(3) div:nth-child(2) {
    width: 390px;
    padding-bottom: 66.667px;
    padding-right: 10px;
    height: 89.989px;
}

.row_footer:nth-child(3) div:last-child {
    width: 523.328px;
    padding-bottom: 66.667px;
    padding-right: 10px;
    height: 70.489px;
}

.row_footer:nth-child(3) div:last-child div {
    display: flex;
    margin-top: 10.5px;
}

.row_footer:nth-child(3) div:last-child > h3 {
    padding: 0px;
    margin-bottom: 0px;
}

.row_footer > div:nth-child(3) select:first-child {
    width: 116.5px;
    height: 30px;
    padding: 4.9px 50px 4.9px 10.5px;
    margin-right: 2px;
    background-color: #eee;
}

.row_footer > div:nth-child(3) select:first-child {
    position: relative;
    left: 0px;
    border: 0px;
}

.row_footer > div:nth-child(3) select:last-child {
    width: 200px;
    height: 30px;
    padding: 4.9px 50px 4.9px 10.5px;
    background-color: #eee;
    border: 0px;
}

.row_footer > div:nth-child(3) option {
    font-family: 'futura-pt', "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.row_footer:nth-child(4) {
    height: 38.995px;
    padding-bottom: 133px;
}
 
.row_footer div > * {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 0px
}

.row_footer svg {
    width: 40px;
    height: 40px;
    margin: 10px 10px 0px 0px;
}

.facebook_icon {
    background-color: #3477f2;
}

.twitter_icon {
    background-color: #1DA1F2;
}

.youtube_icon {
    background-color: #FF0000;
}

.instagram_icon {
    background-color: #F77737;
}

.row_footer:last-child {
    justify-content: space-between;
    align-items: flex-end;
}

.row_footer:last-child div {
    display: flex;
    align-items: center;
}

.row_footer:last-child > div h5, img {
    margin: 0px;
    display: inline-block;
    font-family: 'futura-pt', "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.row_footer:last-child > div h5:not(h5:last-child) {
    margin-right: 14px;
}
